<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/bootstrap.min.css" id="bootstrap-css">
    <script src="../public/bootstrap.min.js"></script>
    <script src="../public/jquery-3.5.1.min.js"></script>
    <script src="../public/popper.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/Login.css">
</head>

<script>
    $(document).ready(function(){
        $("#logo").click(function(){
		    location.replace("./index.html")
		});
        $("#re").click(function(){
		    location.replace("./Register.html")
        });
        $("#forget").click(function(){
		    location.replace("./recovery_PASSWORD.html")
        });
        
    });
</script>
<body>
    <nav class="navbar navbar-expand-md sticky-top" style="background-color:#45aa2c">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><img src="../picture/logo_1_1.png" id="logo" ></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
    </nav>
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Login</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="username">
                                
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock fa"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="password">
                            </div>
                            <div class="row align-items-center remember">
                                <input type="checkbox">Remember Me
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Login" class="btn float-right login_btn">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            Don't have an account?<a href="#" id="re">Register</a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="#" id="forget">Forgot your password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>