<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src="jquery.min.js"></script>
	<script src="popper.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="style.css" rel="stylesheet">
	<style>
		
		.nav-link{
            color: rgb(255, 255, 255);
        }
		
	</style>

	<script>
			 $(document).ready(function(){
				$("#logo").click(function(){
					location.replace("/user")
				});
			});
	</script>
</head>

<body>
	<nav class="navbar navbar-expand-md sticky-top " style="background-color: #45aa2c">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><img src="picture/logo_1_1.png" id="logo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</nav>
    <h1 class="container-fluid">เคล็ดไม่ลับ กับ “วิธีปลูกมะเขือเทศ” ให้ได้ผลงาม</h1>
    <p>สำหรับใครที่กำลังมองหา “วิธีปลูกมะเขือเทศ” ไว้รับประทานเองที่บ้านสามารถทำได้ง่าย ๆ โดยไม่ต้องห่วงเรื่องขนาดพื้นที่ ไม่ว่าคุณจะมีสวนหน้าบ้าน หลังบ้าน ระเบียง หรือพื้นที่ส่วนอื่นของบ้าน ก็สามารถปลูกมะเขือเทศได้ บทความนี้จะบอกคุณถึงองค์ความรู้ต่าง ๆ เกี่ยวกับมะเขือเทศ อุปกรณ์ที่ใช้ปลูก และวิธีการในการปลูก ตั้งแต่เริ่มไปจนถึงการเก็บเกี่ยว ด้วยขั้นตอนง่าย ๆ กับ 9 เรื่องที่ต้องรู้ดังต่อไปนี้ 

        1. สายพันธุ์
        มะเขือเทศ มีชื่อวิทยาศาสตร์ว่า Lycopersicon esculentum Mill. เป็นพืชที่มีความสำคัญทางเศรษฐกิจ ซึ่งมีหลากหลายสายพันธุ์ดังต่อไปนี้ 
        
        มะเขือเทศเชอร์รี่ (Cherry Tomato) หรือที่รู้จักกันอีกชื่อ คือ มะเขือเทศราชินี ซึ่งผลมีขนาดเล็กที่สุด ผลมีทั้งสีเหลืองและสีแดง เนื้อน้อย รสชาติและกลิ่นเข้มข้นกว่ามะเขือเทศพันธุ์อื่น ๆ ให้รสเปรี้ยวอมหวาน แต่ถ้าสุกจัดจะนิ่มและหวาน
        มะเขือเทศสีดา (Srida Pink Egg Tomato) เป็นพันธุ์ที่นิยมปลูกรับประทาน ผลมีสีแดงอมชมพู เนื้อค่อนข้างแข็ง ไม่มีกลิ่น มักให้รสชาติจืดและเปรี้ยวเป็นหลัก 
        มะเขือเทศเนื้อสีแดง (Red Tomato) ผลจะมีขนาดกลางค่อนไปทางใหญ่ ผลสุกมีสีแดงเข้ม เป็นพันธุ์ที่นิยมนำไปแปรรูปในอุตสาหกรรมอาหาร เพราะมีเนื้อและน้ำมาก แต่กลิ่นค่อนข้างแรง  
        มะเขือเทศอิตาลี (Italian Tree Tomato) ลำต้นใหญ่ ผลสีแดงสดขนาดกลาง-ใหญ่ มีหยักเล็กน้อย รสชาติดีมีเอกลักษณ์เฉพาะตัว เหมาะสำหรับปลูกไว้รับประทานหรือเป็นไม้ประดับ 
        มะเขือเทศเครือส้ม (Wild Tomato) เป็นมะเขือเทศพันธุ์ท้องถิ่น พบมากแถวภาคเหนือและภาคอีสาน เป็นไม้เลื้อย ออกลูกเป็นเครือ มีหลายสีทั้ง สีเขียว แดง และเหลือง ผลสุกเนื้อนิ่มและเนื้อน้อย ให้รสชาติจืดอมเปรี้ยว 
        </p>
	






</body>
</html>
				